.users-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.user {
  text-align: center;
  background-color: #999;
  padding: 8px 16px;
}

.details-icon {
  width: 30px;
  height: 30px;
  /* padding: 5px 0 0 0; */
}

.user-details {
  /* width: 30px;
  height: 30px; */
  background: none;
  border: none;
}

.detailed-user-info {
  border: 1px solid #000;
  padding: 40px 30px;
  display: inline-block;
}

.user-details-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.details-buttons {
  display: flex;
  justify-content: space-between;
}

.active-user-name {
  font-size: 44px;
}

.active-user-email {
  font-size: 30px;
}

.active-user-gender {
  font-size: 30px;
}

.active-user-status {
  font-size: 30px;
}

.hide {
  display: none;
}
