/* COLORS

#f1c40f , #2ecc71 , #ffe6e6, #999,


*/

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe6e6;
  font-family: sans-serif;
}

/* ---------------------- NAVIGATION ------------------- */

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.show-all-users,
.create-user {
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  border: 2px solid #000;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.5s ease;
  cursor: pointer;
}

.show-all-users:hover {
  background-color: #f9ca24;
}

.create-user:hover {
  background-color: #badc58;
}

/*  ------------------ MAIN USERS LIST ----------------- */

.user-list-section {
  margin: 0 2rem;
}

.users-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding-left: 0;
  align-items: center;
}

.user {
  text-align: center;
  background-color: #999;
  padding: 0.8rem 1.6rem;
  display: flex;
  height: 15rem;
  flex-direction: column;
}

.details-icon,
.close-icon {
  width: 28px;
  height: 28px;
}

.user-details,
.delete-user {
  background: none;
  border: none;
}

.user-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

/*  ---------------------- DETAILS --------------------- */
.detailed-user-info {
  border-radius: 8px;
  padding: 6.5rem 10rem;
  background-color: #ffd7d7;
  background-image: linear-gradient(45deg, #ffe4e4 0%, #ffc9c9 100%);

  box-shadow: 6px 8px 12px -2px rgba(255, 121, 121, 1);
}

.details-buttons {
  /* margin-bottom: 4rem; */
  margin: 0 -3rem 4rem -3rem;
}

.posts {
  margin: 4rem -3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-post,
.get-user-posts {
  padding: 0.4rem 0.8rem;
  position: relative;
  border: none;
  background: none;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.add-post,
.get-user-posts {
  font-size: 3rem;
}

.add-post:hover {
  background-color: #badc58;
  padding-right: 9rem;
  /* border: 2px solid #ffe6e6; */
  /* transform: scale(120%); */
}

.add-post::after {
  position: absolute;
  font-size: 1.6rem;
  right: -60px;
  top: 12px;
  opacity: 0;
  content: "Add post";
  transition: all 0.5s ease;
}

.add-post:hover::after {
  opacity: 1;
  top: 12px;
  right: 18px;
}

.get-user-posts:hover {
  background-color: #f9ca24;
  padding-left: 14rem;
}

.get-user-posts::before {
  position: absolute;
  font-size: 1.6rem;
  left: -119px;
  top: 16px;
  opacity: 0;
  content: "Show user posts";
  transition: all 0.5s ease;
}

.get-user-posts:hover::before {
  opacity: 1;
  top: 16px;
  left: 10px;
}

.edit-user {
  position: relative;
  background: none;
  float: right;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 3rem;
  padding: 0 0.6rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.edit-user:hover {
  background-color: #71c5e9;
  padding-left: 14rem;
}

.edit-user::before {
  position: absolute;
  opacity: 0;
  top: 12px;
  left: -110px;
  content: "Edit user details";
  transition: all 0.5s ease;
  font-size: 1.6rem;
}

.edit-user:hover::before {
  top: 12px;
  left: 17px;
  opacity: 1;
}

.go-back {
  padding: 0 0.6rem;
  font-size: 3rem;
  background: none;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
}

.go-back:hover {
  background-color: #000;
  color: #fff;
  transform: rotate(180deg);
}

.user-details-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.active-user-name {
  font-size: 4rem;
  margin-bottom: 3.2rem;
  color: #333;
}

.active-user-email,
.active-user-gender,
.active-user-status {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #333;
}

/*  -------------------- FORMS MUTUAL ------------------- */

.create-form div,
.edit-form div,
.add-post-form div,
.add-comment-form div {
  margin-bottom: 1rem;
}

.edit-form,
.add-post-form-container {
  padding: 2rem 4rem;
  border: 1px solid #000;
  display: inline-block;
}

/*  --------------------- EDIT FORM -------------------- */

/*  -------------------- CREATE FORM --------------------*/

.user-forms-container {
  text-align: center;
  position: relative;
  margin-top: 10rem;
}

.create-form {
  display: inline-block;
  position: relative;
  padding: 27rem 20rem 3rem 20rem;
  border-radius: 10px;
  background-image: url("../images/hills.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1.4rem 1.4rem 2.4rem 0px rgba(66, 68, 90, 1);
}

.go-back-create {
  position: absolute;
  top: 4%;
  left: 5%;
  padding: 0 0.6rem;
  font-size: 2.4rem;
  background: none;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.go-back-create:hover {
  background-color: #000;
  color: #fff;
  transform: rotate(180deg);
}

.submit {
  text-align: center;
}

.create-name-label,
.create-email-label,
.create-gender-label,
.create-status-label {
  /* text-align: left; */
  display: block;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ffe6e6;
  margin-bottom: 0.6rem;
}

#create-name,
#create-email,
#create-gender,
#create-status {
  width: 100%;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  padding: 0.6rem 0.8rem;
}

#create-status {
  margin-bottom: 3rem;
}

.create-form-title-container {
  position: absolute;
  top: 21%;
  left: 27%;
}

.create-form-title {
  font-size: 2.4rem;
  color: #000;
}

.submit {
  background: none;
  padding: 1.2rem 2.4rem;
  color: #ffe6e6;
  font-size: 2.4rem;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in;
  position: relative;
  cursor: pointer;
}

.submit:hover {
  border: 2px solid #ffe6e6;
}

/*  ---------------------- ADD POST ---------------------*/

/*  -------------------- ADD COMMENT --------------------*/

.add-comment-form {
  margin-top: 20px;
}

/*  ----------------------- POSTS ---------------------- */

.user-posts-list {
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}

/*  ---------------------- GENERAL --------------------- */

.hide {
  display: none;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------  RESPONSE MODAL WINDOW --------------------- */

.response-message-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  backdrop-filter: blur(3px);
}
.response-message {
  font-size: 30px;
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
