html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe6e6;
  font-family: sans-serif;
}

/* ---------------------- NAVIGATION ------------------- */

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.show-all-users,
.create-user {
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  border: 2px solid #000;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.show-all-users:hover {
  background-color: #f1c40f;
}

.create-user:hover {
  background-color: #2ecc71;
}

/*  ------------------ MAIN USERS LIST ----------------- */

.user-list-section {
  margin: 0 2rem;
}

.users-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding-left: 0;
  align-items: center;
}

.user {
  text-align: center;
  background-color: #999;
  padding: 0.8rem 1.6rem;
  display: flex;
  height: 15rem;
  flex-direction: column;
}

.details-icon,
.close-icon {
  width: 28px;
  height: 28px;
}

.user-details,
.delete-user {
  background: none;
  border: none;
}

/*  ---------------------- DETAILS --------------------- */

.details-buttons,
.posts {
  display: flex;
  justify-content: space-between;
}

.edit-user {
  margin-right: auto;
}

.detailed-user-info {
  border: 1px solid #000;
  padding: 40px 30px;
  display: inline-block;
}

.user-details-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.user-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 15px;
}

/*  -------------------- FORMS MUTUAL ------------------- */

.create-form div,
.edit-form div,
.add-post-form div,
.add-comment-form div {
  margin-bottom: 1rem;
}

.edit-form,
.add-post-form-container {
  padding: 2rem 4rem;
  border: 1px solid #000;
  display: inline-block;
}

/*  --------------------- EDIT FORM -------------------- */

/*  -------------------- CREATE FORM --------------------*/

.user-forms-container {
  text-align: center;
  position: relative;
  margin-top: 10rem;
}

.create-form {
  display: inline-block;
  padding: 20rem 20rem 10rem 20rem;
  border-radius: 10px;
  background-image: url("../images/hills.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1.4rem 1.4rem 2.4rem 0px rgba(66, 68, 90, 1);
}

.go-back-create {
  position: absolute;
  top: 5%;
  left: 22%;
  padding: 0 0.6rem;
  font-size: 2.4rem;
  background: none;
  border: 1.5px solid #000;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.go-back-create:hover {
  background-color: #000;
  color: #fff;
}

.submit {
  text-align: center;
}

.create-name-label,
.create-email-label,
.create-gender-label,
.create-status-label {
  text-align: left;
  display: block;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #000;
}

#create-name,
#create-email,
#create-gender,
#create-status {
  width: 100%;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  padding: 0.6rem 0.8rem;
}

.create-form-title-container {
  position: absolute;
  top: 15%;
  left: 36%;
}

.create-form-title {
  font-size: 2.4rem;
  color: #000;
}

/* .submit {
} */

/*  ---------------------- ADD POST ---------------------*/

/*  -------------------- ADD COMMENT --------------------*/

.add-comment-form {
  margin-top: 20px;
}

/*  ----------------------- POSTS ---------------------- */

.user-posts-list {
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}

/*  ---------------------- GENERAL --------------------- */

.hide {
  display: none;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------  RESPONSE MODAL WINDOW --------------------- */

.response-message-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  backdrop-filter: blur(3px);
}
.response-message {
  font-size: 30px;
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
